@{
    ViewData["Title"] = "Configurar Juego";
}

<div>
    <h1>PreguntadORT</h1>
    <p>Por Lior T. y Santiago D.</p>
</div>

<form asp-action="Comenzar" asp-controller="Home" method="post">
    <div>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required />
    </div>

    <div>
        <h3>Dificultad</h3>
        <div>
            <input type="radio" id="difTodas" name="dificultad" value="-1" checked />
            <label for="difTodas">Todas</label>
        </div>
        @foreach (var d in ViewBag.Dificultades)
        {
            <div>
                <input type="radio" id="dif_@d.IDDificultad" name="dificultad" value="@d.IDDificultad" />
                <label for="dif_@d.IDDificultad">@d.Nombre</label>
            </div>
        }
    </div>

    <div>
        <h3>Categoría</h3>
        <div>
            <input type="radio" id="catTodas" name="categoria" value="-1" checked />
            <label for="catTodas">Todas</label>
        </div>
        @foreach (var c in ViewBag.Categorias)
        {
            <div>
                <input type="radio" id="cat_@c.IDCategoria" name="categoria" value="@c.IDCategoria" />
                <label for="cat_@c.IDCategoria">@c.Nombre</label>
            </div>
        }
    </div>

    <button type="submit">Comenzar Juego</button>
</form>
