@{
    ViewData["Title"] = "Inicio";
}

<div>
    <h1>PreguntadORT</h1>
    <p>Por Lior T. y Santiago D.</p>
    <form action='@Url.Action("HighScores", "Home")' method="get" enctype="multipart/form-data" class="mt-16">
        <button type="submit" class="btn btn-primary">Ver Mejores Puntajes</button>
    </form>
</div>
